:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #FF0070;
  --bg-color: #FF0070;
  --point-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
}
