/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #FF0070;
  --bg-color: #FF0070;
  --point-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
