:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #353430;
  --bg-color: #FF8DCB;
  --point-color: #353430;
  --text-color: #353430;
  --main-title-color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #353430;
    --bg-color: #FF8DCB;
    --point-color: #353430;
    --text-color: #353430;
    --main-title-color: #FFC2E6;
  }
}

.theme-light .page {
  .header__theme-menu-button:hover {
    outline: 1px solid rgb(53, 52, 48, 0.4)
  }

  .rec-decor {
    display: none;
  }
}
