.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: var(--page-padding);
}

.header {
  block-size: var(--main-block-size);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: var(--header-gap); /* отступы между элементами grid сетки */

  margin-block-end: var(--section-margin);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-item {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  color: var(--title-color);
}

.header__theme-menu-list .header__theme-menu-item:not(:last-child) {
  margin-block-end: 10px; /* отсуп между пунктами списка */
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(255, 0, 112 , 0.4);
}

.header__theme-menu-button:focus {
  outline:none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--title-color);
}

.decorated-zone::before {
  content: "";
  display: flex;
  justify-self: end;
  width: 25px;
  height: 25px;
  border: 1px solid var(--title-color);
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  content: "";
  display: flex;
  justify-self: start;
  width: 25px;
  height: 25px;
  border: 1px solid var(--title-color);
  border-right: none;
  border-top: none;
}

.rec-decor {
  position: absolute;
  top: var(--rec-decor-top);
  right: var(--rec-decor-right);
  text-transform: uppercase;
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 25px;
}

.rec-decor::before {
  content: "rec";
}

.rec-decor::after {
  content: "";
  display:inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-bottom: 2px; /* чтобы точка была по центру */
  background-color: var(--title-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--title-color);
}

.main__title {
  color: var(--main-title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--header-title-font-size);
  line-height: 83%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--bg-color);
}

.title-decor {
  background-color: var(--bg-color);
}

.header__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--point-color);
  justify-self: end;
}

.section__title {
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);

}

.section__block .section__point {
  margin-block-end: 10px;
}

.section__point {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--point-color);
}

.section__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--text-color);
}

.section__link {
  text-shadow: 2px 1px 0 var(--bg-color);
  text-decoration: none;
}

.section__link:hover {
  text-decoration: underline;
}

.section__link:focus {
  outline:none;
}

.section__link:focus-visible {
  outline: 1px solid currentColor;
}

.margin-for-sections {
  margin-block-end: 50px;
}

.section__why {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,min-content);
  gap:20px;
}

.section__what {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,min-content);
  gap:20px;
}

.section__how {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,min-content);
  gap:20px;
}

.section__how .section__block .section__point {
  font-weight: 400;
}

.section__pictures .section__point {
  margin-block-end: 10px; /* отступ отдельному заголовку в секции с картинками */
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:min-content 355px 237px;
  grid-auto-rows: 355px 237px;
  gap:10px;
}

.picture {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  margin-block-start: var(--section-margin);
  block-size: var(--main-block-size);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: var(--footer-gap); /* отступы между элементами grid сетки */
}

.footer__title {
  justify-self: center;
  text-shadow: 2px 2px 0 var(--bg-color);
}

@media (width >= 768px) {
  .header__title {
    margin-left: -20px;
  }

  .header__text {
    inline-size: 50%;
  }

  .section__why {
    grid-template-columns: 1fr 2fr;
  }

  .section__why .section__title {
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .section__what {
    grid-template-columns: min-content 1fr;
  }

  .section__what .section__block {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .section__how {
    grid-template-columns: 1fr 2fr;
  }

  .section__how .section__title {
    grid-row-start: 1;
    grid-row-end: 8;
  }

  .pictures {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tape {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
  }
}


@media (width >= 1024px) {
  .header__theme-menu-list {
    display:flex;
    gap:10px;
    margin-block-start: -145px;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .section__what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .section__what .section__title {
    grid-row: span 1;
    grid-column: 1;
  }

  .section__what .section__block {
    grid-row:2;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  .pictures {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 260px 315px 433px;
  }
}
