/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  /* background-color: var(--bg-color); */

  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 10px;
}

.header {
  /* block-size: 668px;
  inline-size: 375px; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 31px; /* непонятные отступы между элементами grid сетки */

  margin-block-end: 40px;
  /* background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-item{
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  color: var(--accent-color);
}

.header__theme-menu-list .header__theme-menu-item:not(:last-child){
  margin-block-end: 10px; /* отсуп между пунктами списка */
}

.header__theme-menu-button{
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}


.header__theme-menu-button:hover{
  outline: 1px solid rgb(255, 0, 112 , 0.5);
}

.header__theme-menu-button:focus{
  outline:none;
}

.header__theme-menu-button:focus-visible{
  border-bottom: 1px solid var(--accent-color);
}


.header__theme-menu-button_active{
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: "";
  display: flex;
  justify-self: end;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  content: "";
  display: flex;
  justify-self: start;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-right: none;
  border-top: none;
}

.rec-decor {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 25px;
}

.rec-decor::before{
  content: "rec";
}

.rec-decor::after {
  content: "";
  display:inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-bottom: 2px; /* чтобы точка была по центру */
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.main__title {
  color: #DB00FF;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--bg-color);
  justify-self: end;
}

.section__title {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);

}

.section__block .section__point{
  margin-block-end: 10px;
}

.section__point {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--bg-color);
}

.section__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-color);
}

.section__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.section__link:hover {
  text-decoration: underline;
}

.section__link:focus{
  outline:none;
}

.section__link:focus-visible{
  outline: 1px solid var(--main-color);
}

.margin-for-sections {
  margin-block-end: 50px;
}

.section__why {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,min-content);
  gap:20px;
}

.section__what {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,min-content);
  gap:20px;
}

.section__how {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,min-content);
  gap:20px;
}

.section__how .section__block .section__point{
  font-weight: 400;
}

.section__pictures .section__point {
  margin-block-end: 10px; /* отступ отдельному заголовку в секции с картинками */
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:min-content 355px 237px;
  grid-auto-rows: 355px 237px;
  gap:10px;
}

.picture {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  margin-block-start: 40px;
  block-size: 100%;
  inline-size: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 250px; /* непонятные отступы между элементами grid сетки */
}

.footer__title {
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .header {
    /* block-size: 1024px;
    inline-size: 768px; */
    gap: 100px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    inline-size: 50%;
  }

  .rec-decor {
    top: 20px;
    right: 29px;
  }

  .section__why {
    grid-template-columns: 1fr 2fr;
  }

  .section__why .section__title {
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .section__what {
    grid-template-columns: min-content 1fr;
  }

  .section__what .section__block {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .section__how {
    grid-template-columns: 1fr 2fr;
  }

  .section__how .section__title {
    grid-row-start: 1;
    grid-row-end: 8;
  }

  .pictures {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .sunset{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tape {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
  }

  .footer {
    gap: 417px; /* опять странные отступы */
  }
}


@media (width >= 1024) {

}
