/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  /* background-color: var(--bg-color); */
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 31px; /* непонятные отступы между элементами grid сетки */

  background-image: url(../images/cover-image-dark.png);
  /* background-repeat: no-repeat;
  background-position: center;
  object-fit: cover; */
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  display: flex;
  justify-self: end;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  content: "";
  display: flex;
  justify-self: start;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-right: none;
  border-top: none;
}

.rec-decor {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.rec-decor::before{
  content: "rec";
}

.rec-decor::after {
  content: "";
  display:inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-bottom: 2px; /* чтобы точка была по центру */
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__title {
  color: #DB00FF;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--bg-color);
}

