:root {
  --title-color: #FF0070;
  --bg-color: #FF0070;
  --point-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;

  --main-font: 'IBM Plex Mono';
  --main-font-size: 18px;
  --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --main-line-height: 23.4px;

  --bg-image: url(../images/cover-image-dark.png);

  --main-block-size: 668px;

  --margin-for-header-and-footer: 40px;
  --margin-for-sections: 50px;
  --margin-for-pictures-section: 10px;
  --page-padding: 10px;
  --header-gap: 53px;
  --footer-gap: 250px;
  --section-gap: 20px;
  --rec-decor-top: 10px;
  --rec-decor-right: 19px;
}

@media (width >=768px) {
  :root {
    --main-block-size: 1024px;
    --margin-for-header-and-footer:60px;
    --margin-for-sections: 80px;
    --margin-for-pictures-section: 20px;
    --page-padding: 20px;
    --header-gap: 155px;
    --footer-gap: 417px;
    --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --rec-decor-top: 20px;
    --rec-decor-right: 29px;
  }
}

@media (width >=1024px) {
  :root {
    --main-block-size: 768px;
    --header-gap: 130px;
    --footer-gap: 310px;
  }
}